/* CONTAINER */
.container {
    overflow: hidden;
}

/* ROOMS HEADER */
.modeButtons {
    text-align: center;
}

.modeButtons > h3 {
    display: inline-block;
}

.modeButtons > h3 > .bottomSep {
    height: 1px;
    background-color: #6FB5FF;
    left: -5px;
    position: relative;
    top: 4px;
    width: 0;
}

.modeButtons > h3:first-child > .bottomSep {
    left: calc(100% + 5px);
}

.modeButtons > h3:hover > a {
    text-decoration: none;
}

.modeButtons > h3 > a:focus {
    text-decoration: none;
    outline: none;
}

.modeButtons > h3:first-child:hover > .bottomSep, .modeButtons > h3:first-child.active > .bottomSep {
    left: -5px;
    width: calc(100% + 10px);
}

.modeButtons > h3:last-child:hover > .bottomSep, .modeButtons > h3.active > .bottomSep {
    width: calc(100% + 10px);
}

.modeButtons > .sep {
    border-right: 1px solid #6FB5FF;
    display: inline-block;
    height: 35px;
    position: relative;
    top: 9px;
}

/* ROOM PAGE */
.page {
    position: relative;
    float: left;
    width: 100%;
}

.page1 {
    top: 15px;
}

.page2 {
    top: -746px;
    opacity: 0;
}

/* PIES */
.page1 > .row > .col-xs-4 {
    float: none;
    margin: 0 auto;
    min-width: 145px;
}
@media (min-width: 500px) {
    .page1 > .row > .col-xs-4 {
       float: left;
    }

    .page2 {
        top: -456px;
    }
}

.pie + p {
    position: relative;
    top: -70px;
}