.sub {
    background-color: #fafafa;
    border: 1px solid #6FB5FF;
    border-bottom-width: 3px;
}

.sub-buttons {
    float: left;
    width: 40px;
}

.sub-button {
    border-right: 3px solid transparent;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 43px;
}

.sub-button:hover {
    width: 40px;
}
.sub-button:nth-child(1):hover {
    border-right-color: #2ecc71;
}
.sub-button:nth-child(2):hover {
    border-right-color: #e67e22;
}
.sub-button:nth-child(3):hover {
    border-right-color: #e74c3c;
}
.sub-button:nth-child(4):hover {
    border-right-color: #9b59b6;
}

.sub-text, .sub-translated {
    height: 60px;
    margin-left: 45px;
    padding: 10px;
}