.sub {
    background-color: #fafafa;
    border: 1px solid #6FB5FF;
    border-bottom-width: 3px;
    cursor: pointer;
    margin-bottom: 15px;
}

.sub-text, .sub-translated {
    height: 60px;
    padding: 10px;
}

.extras {
    height: 0;
    overflow: hidden;
}

.extras.active {
    height: 135px;
}

.sub-buttons {
    margin: 10px;
    text-align: center;
}

.sub-button {
    display: inline-block;
    height: 20px;
    line-height: 15px;
}

.sub-button.active {
    text-decoration: underline;
}

.sub textarea {
    float: left;
    margin: 0 0 0 5px;
    resize: vertical;
    width: calc(100% - 10px);
}

.translate {
    margin-bottom: 5px;
}